.section {
  width: 600px;
  margin: 0 auto;
  background-color: #f2be4e91;
  padding: 10px;
  border: 2px dashed rgba(139, 69, 19, 0.768);
}
.title {
  margin-left: 15px;
  padding: 15px 0;
  font-size: 35px;
  color: #402313;
}
